<h1>
    <i class="fa fa-usd"></i>
    &nbsp;Discounts Manager
</h1>

<br>

<div class="order-search" ng-cloak>

    <div>
        <button type="button"
                class="btn btn-success"
                ng-click="$ctrl.addDiscount()">Add Discount
        </button>
    </div>

    <br>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th><b>Discount code</b></th>
                <th><b>Discount [%]</b></th>
                <th><b>Actions</b></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="discount in $ctrl.discounts track by $index">
                <td>
                    <input type="text"
                           ng-change="discountRowChanged($index)"
                           ng-model="discount.code"
                           ng-disabled="discount.code && discount.created_at">
                </td>
                <td>
                    <input type="text"
                           ng-change="$ctrl.discountRowChanged($index)"
                           ng-model="discount.discount">
                </td>
                <td>
                    <button type="button"
                            class="btn btn-success"
                            ng-disabled="!discount.changed"
                            ng-click="$ctrl.discountUpdate($index)">{{$ctrl.getSaveUpdateButtonCaption(discount)}}
                    </button>
                    &nbsp;
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="$ctrl.discountRemove($index)">Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>