<h1>
    <i class="fa fa-dropbox"></i>
    &nbsp;Products Manager
</h1>

<!-- Form start -->
<div class="admin-sub-section" ng-cloak>

    <button type="button"
            class="btn btn-success"
            ng-hide="$ctrl.editState"
            ng-click="$ctrl.createProduct()">Create Product
    </button>
    <button type="button"
            class="btn btn-success"
            ng-show="$ctrl.editState && $ctrl.editingNew"
            ng-click="$ctrl.saveProduct();">Save
    </button>
    <button type="button"
            class="btn btn-success"
            ng-show="$ctrl.editState && $ctrl.editingNew === false"
            ng-click="$ctrl.updateProduct();">Update
    </button>
    <button type="button"
            class="btn btn-danger"
            ng-show="$ctrl.editState"
            ng-click="$ctrl.reset();">Cancel
    </button>

    <br>
    <br>

    <h2><span ng-show="$ctrl.editState" class="edit-indicator">Editing Product</span></h2>



    <button type="button"
            class="btn btn-success"
            ng-show="$ctrl.editState && $ctrl.editingNew"
            ng-click="$ctrl.saveProduct();">Save
    </button>

    <button type="button"
            class="btn btn-success"
            ng-show="$ctrl.editState && $ctrl.editingNew === false"
            ng-click="$ctrl.updateProduct();">Update
    </button>

    <button type="button"
            class="btn btn-danger"
            ng-show="$ctrl.editState"
            ng-click="$ctrl.reset();">Cancel
    </button>

    <span ng-show="$ctrl.editState" class="edit-indicator">Editing Product</span>

</div>
<!-- Form end -->

<div class="admin-sub-section" ng-hide="$ctrl.editState">
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th><b>Name</b></th>
                <th><b>Shelf</b></th>
                <th><b>Type</b></th>
                <th><b>Stock</b></th>
                <th><b>Display Order</b></th>
                <th><b>Actions</b></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in $ctrl.products">
                <td class="bold uppercase">
                    <a ng-click="$ctrl.editProduct(product)" href="">
                        {{ product.name }}
                    </a>
                </td>
                <td ng-class="{faded: product.shelf_id === null}">
                    <a ng-click="$ctrl.editProduct(product)" href="">
                        {{ $ctrl.getShelfNameForProductsTable(product.shelf_id) }}
                    </a>
                </td>
                <td>
                    <a ng-click="$ctrl.editProduct(product)" href="">
                        {{ product.type.name }}
                    </a>
                </td>
                <td>
                    <a ng-click="$ctrl.editProduct(product)" href="">
                        {{ product.availability.name }}
                    </a>
                </td>
                <td>
                    <a ng-click="$ctrl.editProduct(product)" href="">
                        {{ product.order }}
                    </a>
                </td>
                <td>
                    <a href="/product/{{ product.slug }}" target="_blank">
                        <button type="button"
                                class="btn btn-default">View
                            &nbsp;<i class="fa fa-external-link"></i>
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>