
<!-- Modal Header -->
<div class="modal-header">
    <h1 class="modal-title"><b>Add/Edit Shelf</b></h1>

    <button type="button" class="close" ng-click="$dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Modal Body -->
<div class="modal-body">
    <label>Shelf name:</label>
    <br>
    <label>Shelf hidden:</label>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss('close')">Cancel</button>
</div>