
<!-- Modal Header -->
<div class="modal-header">
    <h1 class="modal-title"><b>Add/Edit Shelf</b></h1>

    <button type="button" class="close" ng-click="$dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Modal Body -->
<div class="modal-body">
    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label pull-right">Shelf name:</label>
        <div class="col-sm-8">
            <input type="text"
                   class="form-control"
                   id="name"
                   placeholder="Shelf name..."
                   ng-model="$ctrl.shelf.name">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4 pull-right">Shelf hidden:</div>
        <div class="col-sm-8">
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       ng-true-value="1"
                       ng-false-value="0"
                       ng-model="$ctrl.shelf.hidden">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Desktop Font Size [px]:</label>
        <div class="col-sm-2">
            <input type="text"
                   class="form-control"
                   id="desktop_shelf_font_size"
                   placeholder=""
                   ng-model="$ctrl.shelf.desktop_shelf_font_size">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Mobile Font Size [px]:</label>
        <div class="col-sm-2">
            <input type="text"
                   class="form-control"
                   id="mobile_shelf_font_size"
                   placeholder=""
                   ng-model="$ctrl.shelf.mobile_shelf_font_size">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Shelf Alignment:</label>
        <div class="col-sm-8">
            <select class="custom-select col-sm-4"
                    ng-options=" value for value in $ctrl.text_align_options"
                    ng-model="$ctrl.shelf.name_text_align">
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Shelf Font Weight:</label>
        <div class="col-sm-8">
            <select class="custom-select col-sm-4"
                    ng-options="value for value in $ctrl.text_font_weight"
                    ng-model="$ctrl.shelf.name_font_weight">
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Shelf Font Style:</label>
        <div class="col-sm-8">
            <select class="custom-select col-sm-4"
                    ng-options="value for value in $ctrl.text_font_style"
                    ng-model="$ctrl.shelf.name_font_style">
            </select>
        </div>
    </div>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button class="btn btn-default"
            type="button"
            ng-click="$dismiss('close')">Cancel
    </button>
    <button class="btn btn-success"
            type="button"
            ng-click="$ctrl.shelfSaveUpdate()">Save
        &nbsp;<i class="fa fa-save"></i>
    </button>
</div>