<h1>
    <i class="fa fa-bars"></i>
    &nbsp;Shelves Manager
</h1>

<br>

<div class="order-search" ng-cloak>

    <div>
        <button type="button"
                class="btn btn-success"
                ng-click="$ctrl.addDiscount()">Add Shelf
        </button>
    </div>

    <br>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th><b>Shelf name</b></th>
                <th><b>Actions</b></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="shelf in $ctrl.shelve">
                <td>
                    {{shelf.name}}
                </td>
                <td>
                    <button type="button"
                            class="btn btn-success"
                            ng-click="$ctrl.editShelf(shelf.id)">
                        Edit
                        &nbsp;<i class="fa fa-pencil"></i>
                    </button>
                    &nbsp;
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="$ctrl.removeShelf(shelf.id)">
                        Remove
                        &nbsp;<i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>