<h1>
    <i class="fa fa-bars"></i>
    &nbsp;Shelves Manager
</h1>

<br>

<div class="order-search" ng-cloak>

    <div>
        <button type="button"
                class="btn btn-success"
                ng-click="$ctrl.editAddShelf()">Add Shelf
        </button>
    </div>

    <br>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th><b>Shelf name</b></th>
                <th><b>Hidden</b></th>
                <th><b>Actions</b></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="shelf in $ctrl.shelves">
                <td class="bold uppercase">
                    <a href ng-click="$ctrl.editAddShelf(shelf)">{{shelf.name}}</a>
                </td>
                <td>
                    <input type="checkbox"
                           ng-model="shelf.hidden"
                           ng-true-value="1"
                           ng-false-value="0"
                           ng-disabled="true">
                </td>
                <td>
                    <div class="shelves-list-buttons-spacer">
                        <button type="button"
                                ng-hide="$first"
                                class="btn btn-default"
                                ng-click="$ctrl.updateOrder(shelf, -1)">
                            Up
                            &nbsp;<i class="fa fa-arrow-up"></i>
                        </button>
                        &nbsp;
                    </div>

                    <div class="shelves-list-buttons-spacer">
                        <button type="button"
                                class="btn btn-default"
                                ng-hide="$last"
                                ng-click="$ctrl.updateOrder(shelf, +1)">
                            Down
                            &nbsp;<i class="fa fa-arrow-down"></i>
                        </button>
                        &nbsp;
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

