<h1>
    <i class="fa fa-shopping-cart"></i>
    &nbsp;Orders Manager
</h1>

<div class="order-search" ng-cloak>
    <div class="ord-src">
        <label>Start From</label>
        <input style="width: 150px;"
               class="date-ord-input"
               placeholder="{{$ctrl.placeholderToday}}"
               type="text"
               ng-model="order_start_date"
               datepickerstartdate/>
    </div>
    <div class="ord-src">
        <label>End To</label>
        <input style="width: 150px;"
               class="date-ord-input"
               placeholder="{{$ctrl.placeholderToday}}"
               type="text"
               ng-model="order_end_date"
               datepickerenddate/>
    </div>
    <div class="ord-src">
        <button type="button"
                class="btn btn-success"
             ng-click="$ctrl.searchOrder()">Search Order
        </button>
    </div>
    <div class="ord-src" ng-show="$ctrl.order_start_date || $ctrl.order_end_date">
        <button type="button"
                class="btn btn-danger"
                ng-click="$ctrl.resetDateFilter()">Reset range
        </button>
    </div>
</div>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th><b>Info</b></th>
            <th><b>Products</b></th>
            <th><b>Actions</b></th>
            <th><b>Order Amount</b></th>
            <th><b>Shipping Amount</b></th>
            <th><b>Total Amount</b></th>
            <th><b>Date</b></th>
        </tr>
    </thead>

    <tbody>
        <tr dir-paginate="order in $ctrl.orders|itemsPerPage:15" total-items="$ctrl.total_count">

            <!-- Info -->
            <td>
                <span class="brand">{{ order.number }}</span>
                <br>
                <span class="bold">{{ order.customer.fullName }}</span><br>
                {{ order.address }}
                <br>
                {{ order.city }}, {{ order.state }} {{ order.zip }}
            </td>

            <!-- Product -->
            <td>
                <ul>
                    <li ng-repeat="item in order.items" class="uppercase bold">
                        {{ item.product.sizeable ? item.size.name : item.product.name }}
                        &nbsp;<span ng-show="item.quantity > 1" class="lowercase brand">x {{ item.quantity }}</span>
                        <ul class="admin-order-addons-list">
                            <li ng-repeat="addon in item.addons">
                                {{ addon.product.name }}
                                &nbsp;<span ng-show="addon.quantity > 1" class="lowercase brand">x {{ addon.quantity }}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </td>

            <!-- Actions -->
            <td>
                <!-- @TODO Make decision what to do with 'Print Label' button. -->
                <!-- What 'Print Label' button should do. At the moment there is not bind any functionality. Commented for now.-->
                <!--<button type="button" class="btn btn-default">Print Label</div>-->

                <shipping-request order="order" shipping="order.shipping"></shipping-request>
                <div ng-if="!order.tracking" style="margin-right: 5px;float:left;">
                    <shipping-track order="order" tracking=""></shipping-track>
                </div>
                <div ng-if="order.tracking" style="margin-right: 5px;float:left;">
                    <a ng-if="order.tracking.carrier == 'usps'"
                       href="https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1={{ order.tracking.track_id }}"
                       target="_blank">
                        <button type="button" class="btn btn-success">Track# {{ order.tracking.track_id }}</button>
                    </a>
                    <a ng-if="order.tracking.carrier == 'auspost'"
                       href="https://auspost.com.au/parcels-mail/track.html#/track?id={{ order.tracking.track_id }}"
                       target="_blank">
                        <button type="button" class="btn btn-success">Track# {{ order.tracking.track_id }}</button>
                    </a>
                    <a ng-if="order.tracking.carrier == 'packsend'"
                       href="https://online.packsend.com.au/tracktrace?trackingnumber={{ order.tracking.track_id }}"
                       target="_blank">
                        <button type="button" class="btn btn-success">Track# {{ order.tracking.track_id }}</button>
                    </a>
                    <a ng-if="order.tracking.carrier == 'ups'"
                       href="https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums={{ order.tracking.track_id }}"
                       target="_blank">
                       <button type="button" class="btn btn-success">Track# {{ order.tracking.track_id }}</button>
                    </a>
                </div>
                <div ng-if="order.tracking" style="margin-right: 5px;float:right;">
                    <shipping-track order="order" tracking="order.tracking"></shipping-track>
                </div>
            </td>

            <!-- Order Amount -->
            <td>
                <span>${{ order.order_sum / 100 }}</span>
            </td>

            <!-- Shipping Amount -->
            <td>
                <span>${{ order.shipping_cost / 100 }}</span>
            </td>

            <!-- Total Amount -->
            <td>
                <span>${{ order.total_sum / 100 }}</span>
            </td>

            <td>
                {{ order.createdAtHuman }}
            </td>
        </tr>
    </tbody>
</table>

<ul uib-pagination
    class="pagination"
    total-items="$ctrl.total_count"
    ng-model="$ctrl.pageno"
    max-size="10"
    boundary-links="true"
    items-per-page="$ctrl.itemsPerPage"
    force-ellipses="true"
    ng-change="$ctrl.getData($ctrl.pageno)">
</ul>
