<h1>Orders</h1>

<div class="order-search">
    <div class="ord-src">
        <label>Start From</label>
        <input style="width: 150px;"
               class="date-ord-input"
               placeholder="<?php echo date('Y-m-d')?>"
               type="text"
               ng-model="order_start_date"
               datepickerstartdate/>
    </div>
    <div class="ord-src">
        <label>End To</label>
        <input style="width: 150px;"
               class="date-ord-input"
               placeholder="<?php echo date('Y-m-d')?>"
               type="text"
               ng-model="order_end_date"
               datepickerenddate/>
    </div>
    <div class="ord-src">
        <div class="button success-bg"
             ng-click="data.searchOrder()">Search Order
        </div>
    </div>
    <div class="ord-src" ng-show="order_start_date || order_end_date">
        <div class="button danger-bg" ng-click="data.resetDateFilter()">Reset range
        </div>
    </div>
</div>

<table class="admin-orders-table">
    <tr>
        <th>Info</th>
        <th>Products</th>
        <th>Actions</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>

    <tr dir-paginate="order in orders|itemsPerPage:15" total-items="data.total_count">
        <td>
            <span class="brand">{{ order.number }}</span>
            <br>
            <span class="bold">{{ order.customer.fullName }}</span><br>
            {{ order.address }}
            <br>
            {{ order.city }}, {{ order.state }} {{ order.zip }}
        </td>
        <td>
            <ul>
                <li ng-repeat="item in order.items" class="uppercase bold">
                    {{ item.product.sizeable ? item.size.name : item.product.name }}
                    &nbsp;<span ng-show="item.quantity > 1" class="lowercase brand">x {{ item.quantity }}</span>
                    <ul class="admin-order-addons-list">
                        <li ng-repeat="addon in item.addons">
                            {{ addon.product.name }}
                            &nbsp;<span ng-show="addon.quantity > 1" class="lowercase brand">x {{ addon.quantity }}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            <div class="button info-bg">Print Label</div>
            <shipping-request order="order" shipping="order.shipping"></shipping-request>
            <div ng-if="!order.tracking" style="margin-right: 5px;float:left;">
                <shipping-track order="order" tracking=""></shipping-track>
            </div>
            <div ng-if="order.tracking" style="margin-right: 5px;float:left;">
                <a ng-if="order.tracking.carrier == 'usps'"
                   href="https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1={{ order.tracking.track_id }}"
                   target="_blank">
                    <div class="button success-bg">Track# {{ order.tracking.track_id }}</div>
                </a>
                <a ng-if="order.tracking.carrier == 'auspost'"
                   href="https://auspost.com.au/parcels-mail/track.html#/track?id={{ order.tracking.track_id }}"
                   target="_blank">
                    <div class="button success-bg">Track# {{ order.tracking.track_id }}</div>
                </a>
                <a ng-if="order.tracking.carrier == 'packsend'"
                   href="https://online.packsend.com.au/tracktrace?trackingnumber={{ order.tracking.track_id }}"
                   target="_blank">
                    <div class="button success-bg">Track# {{ order.tracking.track_id }}</div>
                </a>
                <a ng-if="order.tracking.carrier == 'ups'"
                   href="https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums={{ order.tracking.track_id }}"
                   target="_blank">
                   <div class="button success-bg">Track# {{ order.tracking.track_id }}</div>
                </a>
            </div>
            <div ng-if="order.tracking" style="margin-right: 5px;float:right;">
                <shipping-track order="order" tracking="order.tracking"></shipping-track>
            </div>
        </td>
        <td>
            <span ng-if="order.orderAmount">${{ order.orderAmount }}</span>
        </td>
        <td>
            {{ order.createdAtHuman }}
        </td>
    </tr>
</table>

<dir-pagination-controls max-size="8"
                         direction-links="true"
                         boundary-links="true"
                         on-page-change="data.getData(newPageNumber)" >
</dir-pagination-controls>
